* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #222;
}

#container {
  width: 1200px;
  border: 1px solid white;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}
#container #card {
  width: 160px;
  height: 250px;
  background-color: black;
  border: 1px solid white;
  text-align: center;
  padding: 20px;
}
#container #card img {
  width: 120px;
}
