* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #222;
  font-family: sans-serif;
}

header {
  height: 40px;
  background-color: black;
}

#container {
  width: 630px;
  height: calc(100vh - 40px);
  padding: 85px 0 85px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}
#container #card {
  width: 170px;
  height: 260px;
  background-color: black;
  text-align: center;
  padding: 20px;
}
#container #card img {
  width: 130px;
  margin-bottom: 10px;
}
