<!DOCTYPE html>
<html lang="it" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title></title>
</head>
<body>

    <!-- 2nd milestone
    per la seconda milestone, index.html dovrà eseguire una chiamata ajax (meglio se con vuejs) verso app/server.php

    -->

    <!-- CONTENITORE di Visualizzazione di Vue -->
    <div id="root">

      <header>
        <div id="inHeader">
          <select v-model="selected" >
            <option disabled value="">Please select one</option>
            <option v-for="element in genreArray">{{element}}</option>
          </select>
        </div>

      </header>

      <div id="container">


        <div v-for="element in arrayDiscs" id="card" v-if="filteredDiscs(element)">

          <div id="image">
            <img :src="element.copertina" alt="">
          </div>

          <div id="titolo">
            {{element.titolo}}
          </div>

          <div id="autore">
            {{element.autore}}
          </div>

          <div id="anno">
            {{element.anno}}
          </div>

        </div>


      </div>

    </div>
    <!-- END CONTENITORE di Visualizzazione di Vue -->

    <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
