@import "reset";
@import "layout";

body {
  background-color: #222;
  font-family: sans-serif;
}

header {
  height: 40px;
  background-color: black;
}

#container {
  @include W-600-container;
  @include flex-column-between;
  color: white;

  #card {
  width: 170px;
  height: 260px;
  background-color: black;
  // border: 1px solid white;
  text-align: center;
  padding: 20px;


    img {
      width: 130px;
      margin-bottom: 10px;
    }

  }


}
