@mixin W-630-container {
  width: 630px;
  height: calc(100vh - 40px);
  // border: 1px solid white;
  padding: 85px 0 85px;
  margin: auto;
}

@mixin flex-column-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
