@mixin W-1200-container {
  width: 800px;
  height: 100vh;
  border: 1px solid white;
  margin: auto;
}

@mixin flex-column-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
